@charset "UTF-8";

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {color: #333;}

.container {
    border: 2px solid #a32861;
    background-color: #ff9ece;
}
.container .item {
    border: 2px solid #517bca;
    background-color: #bde4f0;
}


.container {
    display: flex;
}
.container .item {
    flex-grow: 0; /* 늘어나지 마라 */
    width: 100px;
    flex-grow: 1;
}
.container .item:nth-child(1) {
    flex-grow: 1;
}
.container .item:nth-child(2) {
    flex-grow: 2;
}
.container .item:nth-child(3) {
    flex-grow: 1;
}